body {
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
}

input[name="username"], input[name="passwd"], input[name="authenticate"] {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 14px 14px;
    margin: 30px 0;
    border: none;
}

button:hover {
    opacity: 0.75;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.logo {
    width: 10%;
    border-radius: 50%;
}

.container {
    width: 25%;
    margin: auto;
    padding: 16px;
}

span.authenticate {
    padding-top: 5px;
}