<nav class="navbar navbar-expand-sm bg-info navbar-light justify-content-end font-weight-bold">
    <!-- Brand -->
    <a class="navbar-brand" href="/"><img src="../../static/img/logo.png" width="45"></a>

    <!-- Links -->
    <ul class="navbar-nav ml-auto mr-1">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/shop_admin">Store</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/stock">Stock</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/All_Deliveries">Orders</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="Temperature">
                Temperature
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/temp_record">Record</a>
                <a class="dropdown-item" href="/temp_search_user">Retrieve</a>
                <a class="dropdown-item" href="/temp_chart">Chart</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="store_locator">
                Store Locator
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/createLocation">Create</a>
                <a class="dropdown-item" href="/retrieveLocations">Retrieve</a>
                <a class="dropdown-item" href="/storeLocator">Store Locator</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="user">
                {{session.get('fname', None)}} {{session.get('lname', None)}}
            </a>
            <div class="dropdown-menu">
                {% if 'email' in session %}
                <a class="dropdown-item" href="/retrieveUsers">retrieveUsers</a>
                <a class="dropdown-item" href="/logout">Log out</a>
                {% endif %}
            </div>
        </li>
    </ul>
</nav>
