<nav class="navbar navbar-expand-sm bg-info navbar-light justify-content-end font-weight-bold">
    <!-- Brand -->
    <a class="navbar-brand" href="/"><img src="../../static/img/logo.png" width="45"></a>

    <!-- Links -->
    <ul class="navbar-nav ml-auto mr-1">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/deliverymen_orders">Orders</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbardrop2">
                Deliveryman
            </a>
            <div class="dropdown-menu">
                {% if 'current' in session %}
                <a class="dropdown-item" href="/logout">Log out</a>
                {% endif %}
            </div>
        </li>
    </ul>
</nav>
