{% extends "base.html" %}
{% block title %}Library Loan System - Sign Up{% endblock %}
{% block head %}
<style>
    body{
        background-color: LightGray;
        height: 100vh;
    }
</style>
{% endblock %}


{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<div class="d-flex align-items-center h-75">
    <div class="w-50 bg-white m-auto p-3 text-center">
        <h1>Account was successfully created!</h1>
        <h2>Welcome (account name) to sheng shiong</h2>
        <form method="post">
            <button class="btn btn-primary m-2">Return to store page</button>
        </form>
    </div>
</div>
{% endblock %}