{% extends "base.html" %}
{% block title %} Deliverymen in the North{% endblock %}

{% block content %}
<h1 class="display-4">Deliverymen in the North</h1>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/All_Deliveries">Delivery</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/All_Self_collection">Self-collection</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbardrop">
            Deliverymen
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/Create_Deliverymen">Create Deliverymen</a>
            <a class="dropdown-item" href="/Display_Deliverymen">Display Deliverymen</a>
        </div>
</ul>
<br>
<ul class="navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" id="navbardrop1">
            Destination Regions
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/Deliveryman_North">North</a>
            <a class="dropdown-item" href="/Deliveryman_South">South</a>
            <a class="dropdown-item" href="/Deliveryman_East">East</a>
            <a class="dropdown-item" href="/Deliveryman_West">West</a>
        </div>
    </li>
</ul>
<br>
<div>
    {% if count == 0 %}
    <p>There are no users.</p>
    {% elif count == 1 %}
    <p>There is 1 user.</p>
    {% else %}
    <p>There are {{ count }} users.</p>
    {% endif %}
</div>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Regions in charged</th>
            <th>Remarks</th>
            <th>Orders</th>
            <th>Update</th>
            <th>Delete</th>

        </tr>
        </thead>
        <tbody>
        {% for user in users_list %}
        <tr>
            <td>{{ user.get_Deliverymen_id() }}</td>
            <td>{{ user.get_first_name() }}</td>
            <td>{{ user.get_last_name() }}</td>
            <td>{{ user.get_email() }}</td>
            <td>{{ user.get_gender() }}</td>
            <td>{{ user.get_contact_no() }}</td>
            {% if user.get_regions() == "N" %}
            <td>North</td>
            {% elif user.get_regions() == "S" %}
            <td>South</td>
            {% elif user.get_regions() == "E" %}
            <td>East</td>
            {% elif user.get_regions() == "W" %}
            <td>West</td>
            {% endif %}
            <td>{{ user.get_remarks() }}</td>
            <td>
                <a href="/ordersAssigned/{{user.get_Deliverymen_id()}}">
                    <form action="{{url_for('qing.Display_Deliverymen', id=user.get_Deliverymen_id())}}" method="POST">
                        <!--        <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {#user.get_first_name()#} {#user.get_last_name()#}?');">-->
                        <!-- Button to Open the Modal -->
                        <button class="btn btn-danger" data-target="#myModal_orders_{{user.get_Deliverymen_id()}}" data-toggle="modal"
                                type="button">
                            Orders
                        </button>

                        <!-- The Modal -->
                        <div class="modal" id="myModal_orders_{{user.get_Deliverymen_id()}}">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Delete Confirmation</h4>
                                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        {%for orders in order_list%}
                                        {{orders.get_id()}}
                                        {%endfor%}
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">

                                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </a>
            </td>
            <td><a class="btn btn-warning" href="/updateDeliverymen/{{user.get_Deliverymen_id()}}">Update</a></td>
            <td>
                <form action="{{url_for('qing.delete_Deliverymen', id=user.get_Deliverymen_id())}}" method="POST">
                    <!--        <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {#user.get_first_name()#} {#user.get_last_name()#}?');">-->
                    <!-- Button to Open the Modal -->
                    <button class="btn btn-danger" data-target="#myModal_{{user.get_Deliverymen_id()}}" data-toggle="modal"
                            type="button">
                        Delete
                    </button>

                    <!-- The Modal -->
                    <div class="modal" id="myModal_{{user.get_Deliverymen_id()}}">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Delete Confirmation</h4>
                                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    Are you sure you want to delete {{user.get_first_name()}} {{user.get_last_name()}}?
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <input class="btn btn-danger" type="submit" value="Delete">
                                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}