{% extends "base.html" %}
{% block title %} Display Deliverymen details{% endblock %}

{% block content %}
<!-- Nav tabs -->
<h1 class="display-4">Deliverymen details</h1>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/deliverymen_orders">Orders</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/DeliverymenProfile">Profile</a>
    </li>
</ul>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Regions in charged</th>
            <th></th>
        </tr>
        </thead>
        {% for user in users_list %}
        <tr>
            <td>{{ user.get_Deliverymen_id() }}</td>
            <td>{{ user.get_first_name() }}</td>
            <td>{{ user.get_last_name() }}</td>
            <td>{{ user.get_gender() }}</td>
            <td>{{ user.get_email() }}</td>
            <td>{{ user.get_contact_no() }}</td>
            <td>{{user.get_regions()}}</td>
            <td><a class="btn btn-warning" href="/deliverymen_update_profile/{{user.get_Deliverymen_id()}}">Update</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}