{% extends "base.html" %}
{% block title %} Display Deliverymen details{% endblock %}

{% block content %}
<!-- Nav tabs -->
<h1 class="display-4">Deliverymen details</h1>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/deliverymen_orders">Orders</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/DeliverymenProfile">Profile</a>
    </li>
</ul>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Regions in charged</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        {% for account in users_list %}
        <tr>
            <td>{{ account['StaffID'] }}</td>
            <td>{{ account['fname'] }}</td>
            <td>{{ account['lname'] }}</td>
            <td>{{ account['gender'] }}</td>
            <td>{{ email }}</td>
            <td>{{ phone_num }}</td>
            <td>{{ account['region']}}</td>
            <td><a class="btn btn-warning" href="/deliverymen_update_profile/{{account['StaffID']}}">Update</a></td>
            <td><a class="btn btn-warning" href="/loginActivity(Staff)">Login activity</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}