{% extends "base.html" %}
{% block title %} Dest_West {% endblock %}

{% block content %}
<h1 class="display-4">Delivery in the West</h1>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="/All_Deliveries">Delivery</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/All_Self_collection">Self-collection</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbardrop">
            Deliverymen
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/Create_Deliverymen">Create Deliverymen</a>
            <a class="dropdown-item" href="/Display_Deliverymen">Display Deliverymen</a>
        </div>
</ul>
<br>
<div class="tab-pane container-fluid active" id="Delivery">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbardrop1">
                Destination Regions
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/Dest_North">North</a>
                <a class="dropdown-item" href="/Dest_South">South</a>
                <a class="dropdown-item" href="/Dest_East">East</a>
                <a class="dropdown-item" href="/Dest_West">West</a>
            </div>
        </li>
    </ul>
    <br>
    {% if 'OrdersID_assigned' and 'Orders_assigned' in session %}
    <div class="alert alert-success alert-dismissible">
        <button class="close" data-dismiss="alert" type="button">&times;</button>
        No.{{ session.pop('OrdersID_assigned', None) }} is assigned to {{session.pop('Orders_assigned')}}.
    </div>
    {% endif %}
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Contact No.</th>
                <th>Items</th>
                <th>Address</th>
                <th>Date</th>
                <th>Status</th>
                <th>Select</th>
            </tr>
            </thead>
            <tbody>
            {% for order in order_list %}
            <tr>
                <td>{{order.get_id()}}</td>
                <td>{{order.get_name()}}</td>
                <td>{{order.get_phone()}}</td>
                <td>
                    {% for item in order.get_item() %}
                    {{item}} x {{order.get_item().get(item)}}
                    {% endfor %}
                </td>
                <td>{{order.get_location()}} {{order.get_level()}} {{order.get_door()}}, singapore
                    {{order.get_postal()}}
                </td>
                <td>{{order.get_date()}}</td>
                <td>{{order.get_status()}}</td>
                <td>

                    <!--        <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {#user.get_first_name()#} {#user.get_last_name()#}?');">-->
                    <!-- Button to Open the Modal -->
                    <button class="btn btn-warning" data-target="#myModal_{{order.get_id()}}" data-toggle="modal"
                            type="button">Assign
                    </button>
                    <!-- The Modal -->
                    <div class="modal" id="myModal_{{order.get_id()}}">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Assign Confirmation</h4>
                                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Select</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                       {%for deliveryman in deliveryman_list%}
                                    <tr>
                                        <td>{{deliveryman['fname']}} {{deliveryman['fname']}}</td>
                                        <td><a href="assign/East/{{deliveryman['fname']}}/{{order.get_id()}}">
                                            <button class="btn btn-primary">select</button>
                                        </a></td>
                                    </tr>
                                    {%endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% endblock %}