{% extends "base.html" %}
{% block title %} Display Staff{% endblock %}

{% block content %}
<!-- Nav tabs -->
<h1 class="display-4">Staff details</h1>
<br>
<ul class="navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbardrop1">
            Deliverymen Regions
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/Display_Deliverymen/North">North</a>
            <a class="dropdown-item" href="/Display_Deliverymen/South">South</a>
            <a class="dropdown-item" href="/Display_Deliverymen/East">East</a>
            <a class="dropdown-item" href="/Display_Deliverymen/West">West</a>
        </div>
    </li>
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbardrop2">
            Staff Role
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/Display_Deliverymen/Staff">Staff</a>
            <a class="dropdown-item" href="/Display_Deliverymen/Manager">Manger</a>
            <a class="dropdown-item" href="/Display_Deliverymen/Deliverymen">Deliverymen</a>
        </div>
    </li>
</ul>
{% if 'Deliverymen_created' in session %}
<div class="alert alert-success alert-dismissible">
    <button class="close" data-dismiss="alert" type="button">&times;</button>
    {{ session.pop('Deliverymen_created', None) }} was created.
</div>
{% elif 'Deliverymen_updated' in session %}
<div class="alert alert-warning alert-dismissible">
    <button class="close" data-dismiss="alert" type="button">&times;</button>
    {{ session.pop('Deliverymen_updated', None) }} was updated.
</div>
{% elif 'Deliverymen_deleted' in session %}
<div class="alert alert-danger alert-dismissible">
    <button class="close" data-dismiss="alert" type="button">&times;</button>
    {{ session.pop('Deliverymen_deleted', None) }} was deleted.
</div>
{% endif %}

<div>
    {% if count == 0 %}
    <p>There are no users.</p>
    {% elif count == 1 %}
    <p>There is 1 user.</p>
    {% else %}
    <p>There are {{ count }} users.</p>
    {% endif %}
</div>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Staff ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Role</th>
            <th>Outlet</th>
            <th>Regions in charged</th>
            <th>Remarks</th>
            <th>Orders</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for email in users_list %}
        <tr>
            <td>{{ users_list.get(email)['StaffID'] }}</td>
            <td>{{ users_list.get(email)['fname'] }}</td>
            <td>{{ users_list.get(email)['lname'] }}</td>
            <td>{{ users_list.get(email)['gender'] }}</td>
            <td>{{ email }}</td>
            <td>{{ users_list.get(email)['phone_num'] }}</td>
            <td>{{ users_list.get(email)['role'] }}</td>
            <td>{{ users_list.get(email)['outlet'] }}</td>
            {% if users_list.get(email)['region'] == "N" %}
            <td>North</td>
            {% elif users_list.get(email)['region'] == "S" %}
            <td>South</td>
            {% elif users_list.get(email)['region'] == "E" %}
            <td>East</td>
            {% elif users_list.get(email)['region'] == "W" %}
            <td>West</td>
            {%elif users_list.get(email)['region'] == 'NULL' or users_list.get(email)['region'] == None %}
            <td>N.A</td>
            {% endif %}
            <td>{% if users_list.get(email)['remarks'] == '' or users_list.get(email)['remarks'] == 'NULL' or users_list.get(email)['remarks'] == None%}
            N.A
            {% else %}
            {{ users_list.get(email)['remarks'] }}
            {% endif %}</td>
            <td>
                {% if users_list.get(email)['role'] == 'Deliverymen' %}
                <a href="/ordersAssigned/{{users_list.get(email)['StaffID']}}">
                    <form action="{{url_for('qing.Display_Staff', id=users_list.get(email)['StaffID'], sort='None')}}" method="POST">
                        <button class="btn btn-danger" data-target="#myModal_orders_{{users_list['StaffID']}}" data-toggle="modal"
                                type="button">
                            Orders
                        </button>
                    </form>
                </a>
                {% else %}
                N.A
                {% endif %}
            </td>
            <td>
                {% if users_list.get(email)['role'] == 'HR' %}
                N.A
                {% else %}
                <a class="btn btn-warning" href="/updateDeliverymen/{{users_list.get(email)['StaffID']}}">Update</a>
                {% endif %}
            </td>
            <td>
                {% if users_list.get(email)['role'] == 'HR' %}
                N.A
                {% else %}
                <form action="{{url_for('qing.delete_Deliverymen', id=users_list.get(email)['StaffID'])}}" method="POST">
                    <button class="btn btn-danger" data-target="#myModal_{{users_list.get(email)['StaffID']}}" data-toggle="modal"
                            type="button">
                        Delete
                    </button>

                    <div class="modal" id="myModal_{{users_list.get(email)['StaffID']}}">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h4 class="modal-title">Delete Confirmation</h4>
                                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                                </div>

                                <div class="modal-body">
                                    Are you sure you want to delete {{users_list.get(email)['fname']}} {{users_list.get(email)['lname']}}?
                                </div>

                                <div class="modal-footer">
                                    <input class="btn btn-danger" type="submit" value="Delete">
                                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}