{% extends "base.html" %}
{% block title %}Library Loan System - Profile{% endblock %}
{% block content %}
<h2>Login Activity</h2>
<br>
<br>
<p style="font-weight:bold">Where you are logged in</p>

<p><img src="static/img/location-icon-png-4231.png" width="1.5%">Singapore</p>
<p><span style="color:green;">Active now</span>, This Windows<button style="margin-left:98px;" class="btn btn-warning" data-toggle="modal" type="button">Logout</button></p>
<hr style="width:50<i class='fas fa-map-marker-alt' style='font-size:24px'></i> %;text-align:left;margin-left:0">
<p><img src="static/img/location-icon-png-4231.png" width="1.5%">Singapore</p>
<p>20 hours ago, Samsung SM-G996B<button style="margin-left:36px;" class="btn btn-warning" data-toggle="modal" type="button">Logout</button></p>


{% endblock %}