{% extends "base.html" %}
{% block title %} Outlet_North{% endblock %}

{% block content %}
<h1 class="display-4">Self collection in the North</h1>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/All_Deliveries">Delivery</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="/All_Self_collection">Self-collection</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbardrop">
            Deliverymen
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/Create_Deliverymen">Create Deliverymen</a>
            <a class="dropdown-item" href="/Display_Deliverymen">Display Deliverymen</a>
        </div>
    </li>
</ul>
<br>
<ul class="navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbardrop1">
            Outlets Regions
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/Outlet_North">North</a>
            <a class="dropdown-item" href="/Outlet_South">South</a>
            <a class="dropdown-item" href="/Outlet_East">East</a>
            <a class="dropdown-item" href="/Outlet_West">West</a>
        </div>
    </li>
</ul>
<br>
<table class="table table-striped">
    <thead>
    <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Contact No.</th>
        <th>Items</th>
        <th>Outlets</th>
        <th>Date & timing</th>
        <th>Status</th>
        <th>Remarks</th>
    </tr>
    </thead>
    <tbody>
    {% for order in order_list %}
    <tr>
                <td>{{order.get_id()}}</td>
                <td>{{order.get_name()}}</td>
                <td>{{order.get_number()}}</td>
                <td>
                    {% for item in order.get_item() %}
                    {{item}} x {{order.get_item().get(item)}}
                    {% endfor %}
                </td>
                <td>{{order.get_location()}}</td>
                <td>{{order.get_date()}}, {{order.get_time()}}</td>
                <td>{{order.get_status()}}</td>
                <td><a class="btn btn-warning" href="/updateSelfCollection/{{order.get_id()}}">Update</a></td>

            </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}