{% extends "base.html" %}
{% block title %}Retrieve Users{% endblock %}

{% block content %}
{% if 'user_deleted' in session %}
<div class="alert alert-danger alert-dismissible">
    <button class="close" data-dismiss="alert" type="button">&times;</button>
    {{ session.pop('user_deleted', None) }} was deleted.
</div>
{% endif %}
<h1 class="display-4">Retrieve Users</h1>

<div>
    {% if count == 0 %}
    <p>There are no users.</p>
    {% elif count == 1 %}
    <p>There is 1 user.</p>
    {% else %}
    <p>There are {{ count }} users.</p>
    {% endif %}
    <ul style="float:right; padding-right:116px;" class="navbar-nav ml-auto mr-1"><li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="user">
                Sort by
            </a>
            <div class="dropdown-menu">

                <a class="dropdown-item" href=#>Latest login activity</a>
                <a class="dropdown-item" href=#>Oldest login activity</a>
                <a class="dropdown-item" href=#>New user</a>
                <a class="dropdown-item" href=#>Old user</a>

            </div>
        </li></ul>
</div>

<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Last login</th>
            <th></th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        {% for user in users_list %}

        <tr>
            <td>{{ user.get_first_name() }}</td>
            <td>{{ user.get_last_name() }}</td>
            <td>{{ user.get_email() }}</td>
            <td>26 May 2021</td>
            <td><button class="btn btn-warning" data-toggle="modal"
                            type="button">
                        Disable
                    </button></td>
            <td>
                <form action="{{url_for('elly.delete_user', email=user.get_email())}}" method="POST">
                    <button class="btn btn-danger" data-target="#myModal_{{user.get_user_id()}}" data-toggle="modal"
                            type="button">
                        Delete
                    </button>

                    <!-- The Modal -->
                    <div class="modal" id="myModal_{{user.get_user_id()}}">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Delete Confirmation</h4>
                                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    Are you sure you want to delete {{user.get_first_name()}} {{user.get_last_name()}}?
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <input class="btn btn-danger" type="submit" value="Delete">
                                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </form>

            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
