{% extends "base.html" %}
{% block title %}Library Loan System - Sign Up{% endblock %}
{% block head %}
<style>
    body{
        background-color: LightGray;
        height: 100vh;
    }
</style>
{% endblock %}


{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<div class="d-flex align-items-center h-75">
    <div class="w-25 bg-white m-auto p-3">
        <p>An code has been sent to your email</p>
        <p>Please input your code below: </p>
        <form method="post">
            <input type="text" required class="form-control" placeholder="Code">
            <input type="submit" class="btn-primary btn mt-2 " name="submit">
            <button class="btn-danger btn mt-2 ">Resend</button>
        </form>
    </div>
</div>
{% endblock %}