{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="/static/js/optional_question.js"></script>
<h1 class="display-4 text-center">Sign Up</h1>
<link rel="stylesheet" href="/static/css/login.css">
<form action="" method="POST" class="form-container">
    {{ form.csrf_token() }}
    <div class="imgcontainer">
        <img src="/static/img/login.png" alt="Logo" class="logo">
    </div>
   <div class="container">
        <div class="form-group">
            {{ render_field(form.first_name, class="form-control") }}
        </div>
        <div class="form-group">
            {{ render_field(form.last_name, class="form-control") }}
        </div>
        <div class="form-group">
            {{ render_field(form.email, class="form-control") }}
        </div>
        <div class="form-group">
            {{ render_field(form.password, class="form-control") }}
        </div>
        <!-- Implement into wt-forms -->
        <div class="form-group">
            {{ render_field(form.confirm_password, class="form-control") }}
        </div>
       <div class="form-group">
           {{ render_field(form.security_question, class='form-control') }}
        </div>
       <div class="form-group">
           {{ render_field(form.security_answer, class='form-control') }}
        </div>
        <button onclick="myFunction()">Optional information to set</button>
        <div id="optional_question" class="optional_question">
            <div class="form-group">
                {{ render_field(optional_form.Phone_number, class='form-control') }}
            </div>
            <div class="form-group">
                {{ render_field(optional_form.card_number, class='form-control') }}
            </div>
            <div class="form-group">
                {{ render_field(optional_form.exp_date, class='form-control') }}
            </div>
            <div class="form-group">
                {{ render_field(optional_form.CVV, class='form-control') }}
            </div>
        </div>
        {{ recap.recaptcha }}
       <button class="bg-info">Sign up</button>
   </div>
</form>
{% endblock %}

