{% extends "base.html" %}
{% block title %}Create stock item{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h1 class="display-4">Create supplier item</h1>

<form action="" enctype=multipart/form-data method="POST">
    <div class="form-group">
        {{ render_field(form.name, class="form-control", readonly=True) }}
    </div>
    <div class="form-group">
        {{ render_field(form.number, class="form-control", readonly=True) }}
    </div>
    <div class="form-group">
        {{ render_field(form.email, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.location, class="form-control") }}
    </div>
    <input class="btn btn-primary" type="submit" value="Update"/>
</form>
{% endblock %}